.App {
margin-left: 22%;
color: gray;

}

.App1 {
  text-align: center;
  height: 30px;
  width: 50%;
  border-color: rgb(187, 192, 192);
}

.App2{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    border: none;
}